body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: #3498db;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 300px;
  background: white;
  border-radius: 10px;
}
.container h1 {
  color: #525252;
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.container form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .text-outline {
  position: relative;
  border-bottom: 2px solid #adadad !important;
}
form .text-field {
  margin: 30px 0;
}

.text-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

button[type=submit] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2CC06B;
  margin-top: 20px;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  outline: none;
}
